<template>
  <main class="app container">
    <button
      v-if="isAdminLogin"
      class="app__button button is-primary is-medium"
      @click="handleLogOut"
    >
      Logout
    </button>

    <button
      v-else
      class="app__button button is-primary is-medium"
      @click="shouldShowModal = true"
    >
      Login
    </button>
    <b-modal
      v-model="shouldShowModal"
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-modal
    >
      <section class="modal__container card">
        <div class="card-content">
          <b-field class="app__field-User" label="Email">
            <b-input
              v-model="email"
              class="app__input"
              maxlength="30"
              type="email"
            ></b-input>
          </b-field>

          <b-field class="app__field-Password" label="Password">
            <b-input
              v-model="password"
              type="password"
              maxlength="30"
            ></b-input>
          </b-field>
          <div class="card__buttons">
            <b-button
              @click="handleCancelClick"
              class="app__buttoncancel is-primary is-medium"
              >Cancelar</b-button
            >
            <b-button
              @click="handleSignIn"
              class="app__buttonlogin is-primary is-medium"
              >Login</b-button
            >
          </div>
        </div>
      </section>
    </b-modal>

    <h1 class="app__title title is-1 has-text-white">Resultados de Votacion</h1>

    <b-tabs class="app__tabs" v-model="activeTab">
      <b-tab-item label="Resultados">
        <chart class="chart" :type="'pie'" :data="resultsData"></chart>
      </b-tab-item>

      <b-tab-item :visible="isAdminLogin" label="Control">
        <b-button @click="handleStartVotations" class="is-primary is-medium"
          >Iniciar Votaciones</b-button
        >
      </b-tab-item>
    </b-tabs>
  </main>
</template>

<script>
import { signOut, signInWithLogin } from './firebase';
import { startVotations, getResults } from './helpers/apiRequest';
import Chart from 'vue-bulma-chartjs';
export default {
  components: {
    Chart,
  },
  mounted() {
    getResults().then((results) => {
      console.log;
    });
  },
  data: () => ({
    activeTab: 0,
    shouldShowModal: false,
    hasError: true,
    isAdminLogin: false,
    email: '',
    password: '',
    resultsData: {
      labels: ['Tulio', 'Bodoque', 'Pendientes'],
      datasets: [
        {
          data: [0, 33, 67],
          backgroundColor: ['#0045CC', '#CC0037', '#BFEBF5'],
        },
      ],
    },
  }),
  methods: {
    handleLogOut() {
      signOut()
        .then(() => {
          this.isAdminLogin = false;
          this.activeTab = 0;
        })
        .catch((error) => alert(error.message));
    },
    handleCancelClick() {
      this.shouldShowModal = false;
    },
    handleStartVotations() {
      startVotations()
        .then(() => alert('Votaciones Iniciadas'))
        .catch(() => alert('Problemas al iniciar votaciones'));
    },
    handleSignIn(email, password) {
      if (this.email !== ' ' && this.password !== '') {
        signInWithLogin(this.email, this.password)
          .then(() => {
            this.isAdminLogin = true;
            this.shouldShowModal = false;
          })
          .catch((error) => {
            alert(error.message);
          });
      } else {
        alert('Verifique los datos ingresados');
      }
    },
  },
};
</script>

<style lang="scss" src="./Buefy.scss"></style>

<style lang="scss" scoped>
.app {
  height: 100vh;
  &__button {
    $margin: 1em;
    position: absolute;
    right: $margin;
    top: $margin;
  }
  &__title {
    margin-top: 3em;
  }
  &__field-User {
    width: 900px;
  }
  &__field-Password {
    width: 900px;
  }
  &__buttoncancel {
    width: 100px;
    padding: 20px;
  }
  &__buttonlogin {
    width: 100px;
    padding: 20px;
    margin-left: 1em;
  }
}

.card {
  &__buttons {
    display: flex;
    justify-content: center;
  }
}
</style>
